.date{
    width: 90px;
    background-color: #DFDFDF;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.month{
    height: 30px;
    line-height: 30px;
    background-color:#d62828;
    color: #fff;
    
}

.day{
    height: 60px;
    line-height: 60px;
    font-size: 50px;
}

